@import url("https://unpkg.com/spectre.css/dist/spectre.min.css");
@import url("./spectre-exp.min.css"); /* ! Custom compiled version */
@import url("https://unpkg.com/spectre.css/dist/spectre-icons.min.css");

@keyframes bob {
    0% {
        top: 10px;
    }

    50% {
        top: 0;
    }

    100% {
        top: 10px;
    }
}

body {
    color: rgb(0, 0, 0);
}

hr {
    color: #fefdfc;
    width: 95%;
}

div.mark {
    float: left!important;
    width: 0!important;
    height: 0!important;
    padding: 0!important;
    margin: 0!important;
    border: none!important;
}

.main-arrow {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transition: opacity .5s ease-in-out;
}

.main-arrow::before {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: rgb(255, 255, 255);
    animation-name: bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.hide-opacity {
    opacity: 0;
}

.line-space {
    margin: 2rem 0;
    content: '';
}

.line-space-small {
    margin: 0.5rem 0;
    content: '';
}

.hero {
    background-image: url('../assets/mountain-background1920px.png');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 8rem;
    min-height: 100vh;
}

.hero-body {
    color: #eee;
    text-align: center;
}

.hero-text > h1, .hero-text > h5 {
    margin-bottom: 1rem;
}

.hero-logo {
    width: 200px;
    height: 190px;
    filter: drop-shadow(5px 5px 5px #000);
}

.btn-hero {
    margin-right: 24px;
}

.content {
    padding: 6rem 4rem;
}

.footer {
    background: #f7f8f9;

}

.hero-text > .btn {
    background: rgba(0, 0, 32, 0.4);
    color: #7272e7!important;
    transition: color .2s;
}

.hero-text > .btn:hover,
.hero-text > .btn:active,
.hero-text > .btn:focus {
    background: #5755d9;
    color: #eee!important;
}

a:visited {
    color: inherit;
}

a[href] {
    transition: text-decoration 0.2s;
}

.mod-logo {
    margin-top: 4px;
    max-width: 48px;
    max-height: 48px;
}

.mod-panel {
    margin: 0.5rem;
    width: 20vw;
}

label.chip {
    transition: background .2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.chip:hover {
    background: #d2d7df;
}